
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

/* Header styling */
h1{
    text-align: center;
    font-family: 'Fredoka One', cursive;
    color: #fff;
    font-size: 6rem;
    margin-bottom: 10px;
}
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* header top, board bottom */
  height: 100%;
  padding: 20px;
}


/* Paragraph styling */
p {
    color: #555;
    line-height: 1.5;
}

body {
  background-image: url("images/corkboard.jpg");
  background-repeat: repeat;
  background-position: center;
  background-size: 100% auto;
  min-height: 100vh;
}


/* Sidebar */
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 200px;          /* width of the sidebar */
  height: 100%;
  background-color: rgba(50, 50, 50, 0.9); /* semi-transparent dark */
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  box-shadow: 2px 0 10px rgba(0,0,0,0.3);
  z-index: 10;
}

.sidebar a {
  padding: 15px 20px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  margin-bottom: 5px;
  border-left: 4px solid transparent;
  transition: 0.3s;
}

.sidebar a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-left: 4px solid #ffcc00;
}

.main-content {
  margin-left: 200px; /* same as sidebar width */
  padding: 20px;
}


@media (max-width: 768px) {
  .board-image {
    width: 90vw;
    height: 70vh;
  }
}
